.header__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFF;
}

@media screen and (max-width: 539px) {
    .header__text {
        font-size: 14px;
        line-height: 30.94px;
    }
}
