.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 68px 0 60px;
}

@media (min-width: 540px) and (max-width: 1023px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 539px) {
  .footer {
    width: calc(100% - 2 * 19px);
    padding: 50px 0 38px;
  }
}
